div.react-calendar {
    border: none;
    font-size: 0.8rem;
    width: auto;
    button{
        color: grey;
        font-size: 0.8rem;
        min-width: inherit;
        padding: 10px 10px 0px 10px;
        background-color: inherit;
        border: none;
        &:focus {
            outline: none;
        }
    }
    .react-calendar__tile {
        padding: 0.25em 0;
    }
    .react-calendar__navigation {
        height: 44px;
        margin-bottom: 0em;
    }
    button.react-calendar__tile--hasActive,
    button.react-calendar__tile--active,
    button.react-calendar__tile--active:enabled:hover,
    button.react-calendar__tile--active:enabled:focus,
    button.react-calendar__tile--range,
    button.react-calendar__tile--active {
        background: $green;
        color: white;
    }
    .react-calendar__month-view__weekdays__weekday {
        padding: 0.3em;
    }
    .react-calendar__month-view__weekdays {
        display: none!important;
    }
    .react-calendar__tile {
        padding: 5px 0;
        /* height: 25px; */
        position: relative;
        line-height: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: $body-font;
        background: inherit;
        border: inherit;
    }
    .react-calendar__tile--range, .react-calendar__tile--hover {
        background-color: $grey-light;
    }
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
        display: none;
    }
}
