div.react-calendar {
    border: none;
    font-size: 0.8rem;
    width: auto;
    button{
        color: grey;
        min-width: inherit;
        padding: 10px 10px 0px 10px;
        background-color: inherit;
        border: none;
        &:focus {
            outline: none;
        }
    }

    .react-calendar__navigation {
        height: 44px;
        margin-bottom: 0em;
    }
    button.react-calendar__tile--hasActive,
    button.react-calendar__tile--active,
    button.react-calendar__tile--active:enabled:hover,
    button.react-calendar__tile--active:enabled:focus,
    button.react-calendar__tile--range,
    button.react-calendar__tile--active {
        background: $green;
        color: white;
    }
    .react-calendar__navigation__arrow {
      font-size: 2em;
    }
    .react-calendar__month-view--weekNumbers{
        > div {
            align-items: stretch!important;
        }
        .react-calendar__month-view__weekNumbers {
            color: $grey;
            background: $grey-light;
        }
    }
    .react-calendar__tile.disabled {
        color: $grey-light;
        &.cancheckout {
            //color: $grey;
            //border: 1px solid $grey-light;
        }
    }
    .react-calendar__month-view__weekdays {
        display: none!important;
    }
    .react-calendar__navigation__label {
      font-size: 1.4em;
    }
    .react-calendar__tile {
        padding: 5px 0;
        /* height: 25px; */
        position: relative;
        line-height: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $body-font;
        background: inherit;
        border: inherit;
        span.star {
            margin: 0;
            padding: 0;
            font-size: 1.5em;
        }
    }

    .react-calendar__tile--hoverEnd,
    .react-calendar__tile--hoverStart {
        background-color: $grey-light;
    }
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
        display: none;
    }
}

