.canoe {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        img {
            flex: 1 0 100%;
            width: 100%;
            object-fit: cover;
            height: 250px;
        }
        > div {
            flex: 1 0 33%;
        }
        .price_big {
            display: inline-block;
        }
    }
    @media screen and (max-width: 499px) {
        .wrapper {
            flex-direction: column;
        }
    }
}