.rentals {
    display: flex;
    justify-content: space-between;
    margin: 2em 0 7em;
    flex-wrap: wrap;
    li {
        flex: 0 1 45%;
        
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
            display: inline-block;
            margin-right: 5px;
        }
    }
}
@media screen and (max-width: 499px) {
    .rentals {
        li {
            flex: 1 0 100%;
            margin-top: 2em;
        }
    }
}