#selected {
    width: $suki-wrapper-text;
    max-width: 100%;
    transform: width;
    transition: all 0.7s ease-out;
    //background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    z-index: 100;
    .close {
        display: none;
    }
    &.floated {
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $green-light;
        color: white;
        margin: 0;
        padding: 5px;
        h3, .close {
            display: inline-block;
            flex: 0 1 50%;
        }
        .close {
            text-align: right;
        }
        h3, ul {
            font-size: 0.8em;
            margin: 0;
            line-height: 1;
            color: white;
        }
        ul {
            flex: 1 100%;
        }
    }
    a {
        flex: 1;
        text-align: right;
    }
    ul {
        display: flex;
        flex-direction: column;
        .remove {
            flex: 0 0 30px;
            text-align: center;
            .button {
                padding: 1px 5px;
            }
        }
        .price {
            flex: 0 0 65px;
        }
        .discount {
            color: $red;
        }
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex: 1 0 100%;
            padding: 0.5em 0;
            & > span {
                text-align: left;
                flex: 1;
            }
            &:last-child {
                border-top: 1px solid $grey;
            }
            &.titles {
                font-weight: bold;
                font-size: 0.5em;
            }
        }


    }   
}

@media screen and (max-width: 499px) {
    #selected {
        width: 100%;
        
        ul li {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            > span:first-child {
                flex: 1 0 100%;
                font-weight: bold;
            }
            &.titles {
                display: none;
            }
        }
    }
}