#selected {
    width: $suki-wrapper-text;
    transform: width;
    transition: all 0.7s ease-out;
    background-color: white;
    height: fit-content;
    display: flex;
    flex-direction: column;
    height: fit-content;
    &.floated {
        position: fixed;
        width: 100%;
        bottom: 0;
        background-color: $grey-light;
        margin: 0;
        padding: 5px;
        h3, ul {
            font-size: 0.8em;
            margin: 0;
            line-height: 1;
        }
    }
    a {
        flex: 1;
        text-align: right;
    }
    ul {
        display: flex;
        flex-direction: column;
        .remove {
            flex: 0 0 50px;
            text-align: center;
            .button {
                padding: 1px 5px;
            }
        }
        .price {
            flex: 0 0 50px;
        }
        li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex: 1 0 100%;
            padding: 0.5em 0;
            & > span {
                text-align: left;
                flex: 1;
            }
            &:last-child {
                border-top: 1px solid $grey;
            }
            &.titles {
                font-weight: bold;
                font-size: 0.5em;
            }
        }


    }   
}

@media screen and (max-width: 499px) {
    #selected {
        width: 100%;
        
        li {
            display: flex;
            flex-direction: row;
            width: 100%;
            flex-wrap: wrap;
            border-top: 1px solid $grey;
            > span:first-child {
                flex: 1 0 100%
            }
            &.titles {
                display: none;
            }
        }
    }
}