.skogsrum {
    margin: 2rem 0;
    border-bottom: 1px solid $grey;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .image {
        padding-top: 2rem;
        flex-basis: 250px;
        flex-shrink: 0;
    }
    h3 {
        margin-top: 1rem;
        background: $brown;
        color: white;
        padding: 0.9rem;
        width: fit-content;
        margin-right: -2rem;
        margin-left: auto;
        text-transform: uppercase;
        font-size: 2rem;
    }
    .button, .price, p {
        text-align: right;
        margin-right: 0;
        margin-left: auto;
    }
    p {
        width: 80%;
    }
    .number-wrapper {
        display: flex;
        justify-content: flex-end;
    }
    .wrapper {
        vertical-align: bottom;
        div.react-calendar {
            padding-left: 2rem;
        }
    }
}

@media screen and (max-width: 499px) {
    .skogsrum {
        display: block;
        h3 {
            margin-right: 0;
        }
        .calendar, .image {
            width: auto;
            display: block;
        }
        .calendar div.react-calendar {
            padding-left: 0;
        }
        p {
            width: inherit;
            text-align: left;
            padding: 0.5rem 0;
            margin: 0;
        }
    }
}