/* Suki Dynamic CSS */
.has-suki-color-3-background-color {
  background-color: #295b00;
}

.has-suki-color-3-color {
  color: #295b00;
}

.has-suki-color-4-background-color {
  background-color: #7f9b00;
}

.has-suki-color-4-color {
  color: #7f9b00;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.button,
a.wp-block-button__link {
  border-radius: 1px;
  font-weight: 400;
  text-transform: uppercase;
}

.suki-header-logo .suki-logo-image {
  width: 200px;
}

.suki-header-mobile-logo .suki-logo-image {
  width: 220px;
}

.suki-header-top-bar-inner {
  padding: 23px 20px 0 20px;
  background-color: #fff;
}

.suki-header-top-bar .menu > .menu-item .sub-menu {
  background-color: #fff;
}

.suki-header-top-bar a:not(.button),
.suki-header-top-bar .suki-toggle,
.suki-header-top-bar .menu > .menu-item .sub-menu a:not(.button) {
  color: #fff;
}

.suki-page-header-inner {
  background-attachment: fixed;
}

.suki-page-header-inner:before {
  background-color: rgba(0, 0, 0, 0);
}

.suki-content-layout-narrow .alignwide,
.suki-content-layout-wide .alignwide {
  left: calc(50% - 50vw + 0);
  max-width: calc(100vw - (2 * 0));
}

.suki-footer-widgets-bar-column {
  padding: 0 30px;
}

.suki-footer-widgets-bar-row {
  margin-left: -30px;
  margin-right: -30px;
}

.suki-footer-widgets-bar .widget-title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.suki-footer-bottom-bar.suki-section-merged {
  margin-top: 30px;
}

.suki-footer-bottom-bar {
  font-weight: 300;
}

.suki-scroll-to-top {
  font-size: 11px;
  border-radius: 35px;
  background-color: #ccc;
}

.suki-scroll-to-top:hover,
.suki-scroll-to-top:focus {
  background-color: #ccc;
}

.entry-layout-grid .entry-wrapper {
  padding: 1.25em 1.5em 1.25em 1.5em;
  border-width: 1px 1px 1px 1px;
}

.entry-layout-grid .entry-thumbnail.suki-entry-thumbnail-ignore-padding:first-child {
  margin-top: -1.25em !important;
}

.entry-layout-grid .entry-thumbnail.suki-entry-thumbnail-ignore-padding {
  margin-right: -1.5em !important;
  margin-left: -1.5em !important;
}

@media screen and (max-width: 499px) {
  blockquote {
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 0;
  }
  .suki-footer-widgets-bar-row {
    margin-left: 0;
    margin-right: 0;
  }
  .suki-footer-widgets-bar-column {
    padding: 0;
  }
  .suki-content-inner {
    padding: 0 20px 0 20px;
  }

  .content-area .site-main {
    padding: 0 20px 0 20px;
  }

  .entry-layout-default:first-child .entry-thumbnail.suki-entry-thumbnail-ignore-padding:first-child {
    margin-top: -0px !important;
  }

  .entry-layout-default .entry-thumbnail.suki-entry-thumbnail-ignore-padding {
    margin-right: -20px !important;
    margin-left: -20px !important;
  }
}

.recentcomments a {
  display: inline !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* More suki styling */
#site-title,
.site-title,
#site-title a,
.site-title a,
.entry-title,
.entry-title a,
h1,
h2,
h3,
h4,
h5,
h6,
.widget-title {
  font-weight: normal;
}

.suki-wrapper-text {
  padding: 1rem 0 5rem 0;
}
p.suki-wrapper,
.suki-wrapper-text {
  padding: 0;
  width: 620px;
}

.center {
  text-align: center !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.suki-footer-bottom-bar-inner {
  background-color: inherit;
}

h2 {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  letter-spacing: 0.1em;
}

#menu-main-menu-1 li a {
  height: 50%;
}

#menu-main-menu-1 li.current-menu-item a {
  border-bottom: 1px solid;
}

#menu-main-menu-1 li:last-child a {
  border: 1px solid;
  padding: 15px;
  height: 50%;
}

.is-style-outline .wp-block-button__link {
  border: 1px solid;
}

.wp-block-cover {
  position: relative;
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  min-height: 430px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  h2.bigger {
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: 0.2em;
  }
}
.suki-header-mobile-logo {
  margin-top: 80px;
}

#content {
  margin-top: -80px;
}

.search #content {
  margin-top: 0px;
}

.search .suki-page-header-inner {
  margin-top: -80px;
  height: 430px;
  background-position: 0 -150px;
}

.search .suki-page-header-title {
  color: white;
  margin-top: 50%;
}

.suki-header-section .suki-toggle,
.suki-header-section a:not(.button) {
  color: white !important;
}

@media only screen and (max-width: 1020px) {
  p.suki-wrapper,
  .suki-wrapper-text {
    padding: 0 20px;
  }

  h2 {
    font-size: 1.5em;
  }

  .wp-block-cover h2.bigger {
    font-size: 2rem;
    text-align: center !important;
    position: relative;
    margin-top: 8em;
    margin-left: 5px;
  }
}

body,
#content,
.entry-content,
.post-content,
.page-content,
.post-excerpt,
.entry-summary,
.entry-excerpt,
.widget-area,
.widget,
.sidebar,
#sidebar,
footer,
.footer,
#footer,
.site-footer {
  font-family: "Raleway";
}

#site-title,
.site-title,
#site-title a,
.site-title a,
.entry-title,
.entry-title a,
h1,
h2,
h3,
h4,
h5,
h6,
.widget-title {
  font-family: "Lato";
}

button,
input,
select,
textarea {
  font-family: "Raleway";
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5,
footer h6,
.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6 #footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  font-family: "Raleway";
}

