
.tab-list {
    padding-left: 0;
    margin-top: 2em;
    border-bottom: 1px solid $grey-light;
}

.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    text-transform: capitalize;
}

.tab-list-active {
    background-color: white;
    border: solid $grey-light;
    border-width: 1px 1px 1px 1px;
    border-bottom-color: white;
}
