.toast {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    background: $green-light;
    text-align: center;
    height: initial;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    opacity: 0;
    button.close {
        margin-bottom: 0;
        border: 1px solid white;
        color: white;
        padding: 3px 5px;
        &:hover {
            background: white;
            color: $grey;
        }
    }
    &.fade {
        transition: opacity .15s ease-in;
    }
    &.show {
        opacity: 1;
    }
    .toast-body, .toast-header {
        color: white;
    }

    &.info {
        background: $green-light;
        .toast-body, .toast-header {
            background: $green-light;
        }
    }
    &.warning {
        background: $yellow;
        .toast-body, .toast-header {
            background: $yellow;
        }
    }
    @media screen and (max-width: 499px) {
        &.visible {
            height: 35px;
        }
        
    }
}